     
                    <form action="{{ url('order/checkout') }}" method="POST">
                        <div class="mb-3 mt-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" 
                                value="{{ $_SESSION['user']['name'] ?? null }}"
                                placeholder="Enter name"
                                name="user_name">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" 
                                value="{{ $_SESSION['user']['email'] ?? null }}"
                                placeholder="Enter email"
                                name="user_email">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="phone" class="form-label">Phone:</label>
                            <input type="text" class="form-control" id="phone" 
                                value="{{ $_SESSION['user']['phone'] ?? null }}"
                                placeholder="Enter phone"
                                name="user_phone">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="address" class="form-label">Address:</label>
                            <input type="text" class="form-control" id="address" 
                                value="{{ $_SESSION['user']['address'] ?? null }}"
                                placeholder="Enter address"
                                name="user_address">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
        